html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    height: calc(100vh - 8em);
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Anonymous Pro', monospace;

}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-family: 'wtf';
    font-size: 65px;
    margin: 0;
    padding-top: 30px;
    text-shadow: 2px 2px 0 #00135a;
    margin-bottom: 30px;
    list-style: lower-alpha
}

#pres:before,
#pres::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid white;
    margin: auto;
    display: block;
    fill: white;
    margin: -4px auto 0 auto;
}

#proj:before,
#proj::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #708dff;
    margin: auto;
    display: block;
    width: 80px;
    fill: black;
    margin: -4px auto 0 auto;
}

#cont:before,
#cont::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid white;
    margin: auto;
    display: block;
    width: 80px;
    fill: black;
    margin: -4px auto 0 auto;
}



ul>li {
    margin: 0 auto;
}

.titres {
    padding: 32px;
    font-size: 29px;
}


h2:after {}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

.desc {
    text-align: center;
    font-family: 'fade';
    font-size: 30px;
}



.blue {
    background-color: #364CA1;
    color: white;
}

.white {
    padding: 100px 0 100px 0;
}

.white>h2 {
    text-shadow: 2px 2px 0#87a0ff;
}

#end {
    height: 67px;
    width: auto;
    background-color: #364CA1;
}