.presentation_grid-container {
    top: 18%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "presentation_title presentation_img"
        "presentation_text presentation_img"
        "presentation_cv presentation_cv";
    transform: translateY(-50%);
    width: 958px;
    position: relative;
    margin: 0 auto;
}

#head {
    width: 261px;
    padding-top: 17px;
    height: auto;
    filter: opacity(0.8);
    -webkit-filter: opacity(0.8);
    -webkit-transition: all .5s ease;
}

ul>li>button {
    color: white;
    margin-bottom: 44px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 22px;
    padding: 22px 150px 22px;
    border-radius: 9px;
    background-color: #222334;
    box-shadow: 3px 2px 0#87a0ff;
    transition: all 0.5s ease;
    outline: none;
}

#head:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.presentation_text {
    grid-area: presentation_text;
}

.presentation_cv {
    grid-area: presentation_cv;
}

#presentation_text {
    margin: 0 auto;
    text-align: justify;
    width: 30em;
    font-family: 'Roboto',
        sans-serif;
}

.presentation_title {
    grid-area: presentation_title;
}

.presentation_title>h2 {
    text-align: center;
    padding: 40px 0 0px 0;
    margin: 0;
}

.presentation_img {
    grid-area: presentation_img;
    margin: 0 auto;
}


#btn-cv {
    width: auto;
    margin-top: 105px;
    background-color: #000000;
    text-align: center;

}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 480px;
    cursor: pointer;
}

.btn-cv {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-cv:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-cv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-cv:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.section100 {
    height: 93vh;
}

@-webkit-keyframes saturate {

    0%,
    100% {
        -webkit-filter: saturate(none);
    }

    50% {
        -webkit-filter: saturate(10);
    }
}

#html,
#bash,
#sql,
#c,
#java,
#python {
    padding-top: 12px;
    height: 76px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    display: none;
    background-color: #00000038;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
}

#comp {
    width: 147%;
    height: 272px;
    margin: auto;
    text-align: center;
}

#comp>div>h3 {
    font-family: "Montserrat";
    font-weight: 500;
    white-space: nowrap;
}

.progress {
    height: 20px;
    /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.one {
    width: 15%;
    height: 200px;
    float: left;
}

.two {
    margin-left: 83%;
    height: 200px;
}

.meter {
    height: 20px;
    width: 390px;
    /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(32 59 165);
    background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter>span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

#comp:before {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid white;
    margin: auto;
    display: block;
    width: 480px;
    fill: white;
    margin: -4px auto 0 auto;
    float: left;
}